
html,body {
  height: 100vh;
  width: 100vw;
}

h1{
  margin: 4vh;
}

main {
  height: 90vh;
  width: 95vw;
  display: flex;
  flex-direction: column;
  margin-bottom: 15vh;
  padding-bottom: 15vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(28, 11, 49);
    width: 100%;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
  }
  
  li {
    float: left;
    border-right: 0.5% solid white;
    justify-content: space-around;
    padding-top: 1vh;
    padding-bottom: 1vh;
  }
  
  a {
    display: inline-block;
    color: rgb(235, 154, 83);
    text-align: center;
    text-decoration: none;
  }

  h2 {
    text-transform: uppercase;
  }
  
    img {
        object-fit: cover;
        float: left;
        margin: 5px;
    }
  
    p {
      text-align: justify;
    }
  
  footer {
          background-color: grey;
          color: peachpuff;
          position: fixed;
          left: 0;
          bottom: 0;
          width: 100%;
          text-align: center;
          padding: 10px 10px 10px 10px;
          height: 40px;
          justify-content: space-between;
          justify-content: space-around;
          display: flex;
          font-size: 20px;
          font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
          margin-top: 2vh;
  }
  
  button {
     background-color: #4CAF50; /* Green */
    border: 1px solid white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    transition-duration: 0.4s;
    position: fixed;
    bottom: 60px;
    font-family: cursive;
    animation: mybutton 3s infinite;
  }
  
  .button:hover {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  @keyframes mybutton {
    from {background-color: #4CAF50;}
    to {background-color: blue;}
  }
  input {
    width: 25%;
    margin: 8px 0;
    box-sizing: border-box;
  }
  
  input[type=text] {
    width: 50%;
    height: 150px;
    padding: 12px 40px;
    margin: 8px 0;
  
  }
  
  input[type=submit] {
    background-color: #4CAF50;
    border: 2px solid white; 
    color: white; 
    padding: 8px 32px; 
    text-align: center; 
    text-decoration: none; 
    border-radius: 8px;
    margin: 8px 0;
    Position: relative;
  }
  
  .center{
    text-align: center;
    vertical-align: middle;
  }
  .align{
    display: flex;
    flex-direction: column;
  }

  form{
    margin-bottom: 10%;
    padding-bottom: 5px;
  }


@media (min-width:768px) and (max-width:996px){
  .contactButton{
    display: none;
  }
  h2{
    font-size: smaller;
  }
  #Tech-goals{
    display: flex;
    margin: auto;
    justify-items: center;
  }
  #Contact{
    display: flex;
    flex-direction: column;
  }
  #Services{
    display: flex;
    margin: auto;
    justify-items: center;
    height: 55%; 
    width: 95%;
  }
  img {
      max-width: 100%;
      margin: 3px;
      object-fit: scale-down;
  }
  footer {
    font-size: 15px;
    justify-content: unset;
  }
}

@media (min-width:427px) and (max-width:728px){
  .contactButton{
    display: none;
  }
  h2{
    font-size: small;
  }
  #Tech-goals{
    display: flex;
    margin: auto;
    justify-items: center;
  }
  #Contact{
    display: flex;
    flex-direction: column;
  }
  #Services{
    display: flex;
    margin: auto;
    justify-items: center;
    height: 55%; 
    width: 95%;
  }
  img {
      max-width: 100%;
      margin: 3px;
      object-fit: scale-down;
  }
  footer {
    font-size: smaller;
    justify-content: flex-start;
  }
}
@media (max-width:426px){
  .contactButton{
    display: none;
  }
  h2{
    font-size: small;
  }
  #Tech-goals{
    display: flex;
    margin: auto;
    justify-items: center;
  }
  #Contact{
    display: flex;
    flex-direction: column;
  }
  #Services{
    display: flex;
    margin: auto;
    justify-items: center;
  }
  img {
    max-width: 100%;
    margin: 3px;
    object-fit: scale-down;
  }
  footer {
    font-size: x-small;
    justify-content: flex-start;
  }
}
